@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* font-family: "montreal";
  src: url("../public/fonts/PPNeueMontreal-Medium.otf");

  font-family: "montreal-bold";
  src: url("../public/fonts/PPNeueMontreal-Bold.otf");

  font-family: "bit";
  src: url("../public/fonts/PPNeueBit-Bold.otf"); */

  font-family: "mondwest";
  src: url("../public/fonts/PPMondwest-Regular.otf");
}

@font-face {
  font-family: "bit";
  src: url("../public/fonts/PPNeueBit-Bold.otf");
}

@font-face {
  font-family: "montreal";
  src: url("../public/fonts/PPNeueMontreal-Medium.otf");
}
:root {
  --foreground-rgb: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: #f0f0f0;
  color: #222;
}
